@import url('https://fonts.googleapis.com/css?family=Sofia')

html,body
{
    height :  100%;
    width : 100%;
    font-family: 'sofia',sans-serif ;
    color:#222222;


}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.images
{
  width: 20%;
  /* margin-right: 5%; */
  height: 10%;
  outline: none !important;
  
  float:right;
  /* border: none; */
  
} 
/* .wrapper
{
  width: 91%;
  margin-left:9% ;
} */
/* .row
{
  width: 80%;
  float:right;
} */
/* .name
{
  float: right;
  width: 100%;
} */

.trash
{
    color: red;
}
.pencil
{
    color: blue;
}
/* .container-fluid 
{
    width: 80%;
} */

.sidebar {
    height: 100%;
    /* margin-left: 90%; */
    width: 10%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    /* position: -webkit-sticky; */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* .container-fluid .row
  {
    width: 80%;
    float: right;
  } */
   /* .container-fluid .row
  {
    float: right;;
  } */
  
  /* .col-sm-2
  {
      margin-left: auto;
  } */
  
  .customer
  {
    float: right;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e9d4d4;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    margin-left: 1%;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


.navbar
{
 padding: .8rem;
 
}

.nav-link
{
    font-size: 1.1em !important;
}